.EmailManagementFirstTab {
  margin-left: 203px;
  margin-top: 90px;
}
/*-----------------------Email management button css start------------------------*/

.EmailManagementButtonWrapper {
  margin-top: 49px;
  margin-left: 48px;
}
.EmailManagementCommonButton {
  width: 197px;
  height: 68px;
  background-color: white;
  color: #000000c7;
  font: normal normal bold 15px/46px Noto Sans;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 0px;
  margin-right: 1px;
  letter-spacing: 3px;
}
.EmailManagementCommonButton:hover {
  background-color: #f3f3f3;
}
.EmailManagementButtonUnderline {
  background-color: #000000c7;
  min-height: 2px;
  margin: 0px;
  width: 1540px;
}
.bg {
  background-color: #e2e2e2;
}
/*-----------------------Email management button css end------------------------*/

/*-----------------------Email management search css start------------------------*/
.EmailManagementWrapper {
  width: 1540px;
  margin-top: 20px;
  margin-left: 98px;
}
.searchInfoHeading {
  font-size: 17px;
  letter-spacing: 3.4px;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.searchBox {
  width: 1491px;
  height: 54px;
  border: 1px solid #bebebe;
  border-radius: 9px;
  /* padding: 17px 20px; */
  padding: 13px;
}
.searchBox input {
  border: none;
  width: 1430px;
  height: 25px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
}

/*-----------------------Email management search css end------------------------*/

/*-----------------------Email management table css start------------------------*/
.EmailTable {
  /* width: auto; */
  width: 1491px;
}
.emailTr {
  height: 50px;
}
.emailTr > td {
  border-bottom: 1px solid #e2e2e2;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000000c7;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

.emailId {
  width: 372px;
  padding-left: 40px;
}
.subject {
  width: 372px;
}

.text {
  width: 494px;
}

.receiptDate {
  width: 190px;
}
.emailTr:hover {
  background-color: #f3f3f3;
}
.tableBorder {
  width: 1491px;
  border: 1px solid #bebebe;
  border-radius: 9px;
  padding: 25px 0;
}

/*-----------------------Email management table css end------------------------*/
